body{
    background-color: aquamarine;
    color: white;
    font-size: 21 px;
    font-family: Futura, sans-serif;

}

p, h1 {
    color: green
}


span{
    color: yellow;
}

/* comment */

.box{
    background-image: url(../img/cooper.jpeg);
    background-size:cover;
    width: 500px; 

    margin: 500px;

    border-width: 5px;
    border-color: red;
    border-style: solid;

    padding-left: 25px;
    padding-right:10px;
    padding-top: 10px;
    padding-bottom: 300px;
}

a{
    color: yellow;
}

a:hover {
    color:blue;
}

.body-text{
    background-color: orange;
    padding: 50px;
}

.body-text p {
    color: white;
}

.body-text a {
    color:plum;
}

.body-text a:hover {
    color:royalblue;
}

ol{
    background-color: saddlebrown;

}

ol li {
    background-color: red;
    color: yellow;
}