body{
    background-color: aquamarine;
    color: white;
    font-size: 21 px;

}

p{
    color: blueviolet;
}

.intro{
    color: darkgoldenrod;
}

h1{
    color:greenyellow;
}

.top-section{
    background-color: pink;
}

.bottom-section{
    background-color: blueviolet;
}


span{
    color: yellow;
}